img{
    margin:30%;
}

.card{
    width: 30%;
    height: 50%;
    margin-left:35%;
    margin-top:10%;
    border: grey solid 2px;
    background-image:url(../images/paper.jpg)
    
}

.card-title{
    text-align:center;
}

.card-subtitle{
    text-align:center;
}

#subtitle{
    border-bottom: black solid 5px;
    padding: 1%;
}

#selected-word{
    letter-spacing: 5px;
}

body{
    background-image:url(../images/wild-west2.jpg)
}


